<div class='login'>
  <div>
    <img src="../images/logo.png" alt="logo" class='login-logo'>
  </div>
  <div>
    <div class='login-form'>
      <form action="/login" method="post">
        <div class='username'>
          <label for="">Username</label>
          <input type="text" name="username" placeholder="Username">
        </div>
        <div class="password">
          <label for="">Password</label>
          <input type="password" name="password" placeholder="Password">
        </div>
    </div>
    <div class='log-sign'>
      <button>LOGIN</button>
      <br>
      <a href="/signup">SIGN UP!</a>
      <a href="#">Forgot password</a>
      </form>
    </div>
  </div>
</div>




{{#if messageError}}
<p class="message-error">{{messageError}}</p>
{{/if}}