<form action="/signup" method="post">
  <input type="text" name="username" placeholder="Username">
  <br>
  <input type="email" name="email" placeholder="Email">
  <br>
  <input type="password" name="password" placeholder="Password">
  <br>
  <input type="password" name="repeatedPassword" placeholder="Repeat password">
  <br>
  <label><input id="terms" type="checkbox" name="terms" required>Accept the terms and conditions.</label>
  <br>
  <label><input id="news" type="checkbox" name="news" value="false">Subscribe to our newsletter!</label>
  <br>
  <button>SIGNUP</button>
</form>

<a href="/">Go to login page</a>

{{#if messageError}}
<p class="message-error">{{messageError}}</p>
{{/if}}