<h1>ADD NEW DRINK</h1>
<form action="/add-drink" method="post" id="main-form">
  <input type="text" name="name" placeholder="Drink name *">
  <br>
  <input type="text" name="glass" placeholder="Type of glass">
  <br>
  <input type="text" name="category" placeholder="Category">
  <br>
  <fieldset id="ing-forms">
    <label for=''>Add ingredients</label>
    {{!-- <input type='text' name='ingredient' placeholder="Ingredient name *"> --}}
    <button type='button' id="add-ingredient-input">Add</button>
  </fieldset>

  {{!-- <br>
  <input type=" number" name="amount" placeholder="Amount *">
  <br>
  <input type="text" name="unit" placeholder="Unit *"> --}}
  <br>
  <input type="text" name="garnish" placeholder="Garnish">
  <br>
  <input type="text" name="preparation" placeholder="Preparation *">
  <br>
  <label><input type="checkbox" name="alcohol" checked="true" value="">Alcohol</label>
  <br>
  <button>ADD</button>
</form>



<a href="/"><button>Home</button></a>

{{#if messageError}}
<p>{{messageError}}</p>
{{/if}}

<script src="/javascripts/add-drink.js"></script>