<h1>HERE YOU HAVE ALL THE DRINKS</h1>
<div class="all-drinks-section">
  {{#each drinksArr}}
    <a href="/drink/{{this._id}}">
      <div class="all-drinks">
        <h1>{{this.name}}</h1>
        {{#if this.glass}}
          <p>#{{this.glass}}</p>
        {{/if}}
      </div>
    </a>
  {{/each}}
</div>
