<div class="drink-section">
  <form action='/search-drinks' method='POST'>
    <h1 class="drink-title">Find your drink</h1>
    <div class="drink-info">
      <h3>Search by name:</h3>
      <input type='text' name='name'>
      <h3>Search by ingredients:</h3>
      <input type='text' name='ingredients'>
      <br>
    </div>
    <div class="drink-buttons non-btn">
      <a href="/search-drinks"> <button> FIND</button></a>
    </div>
  </form>
</div>
