<h1>FIND YOUR DRINK</h1>
<p>Select your ingredients:</p>
<form action='/search-drinks' method='POST'>
  <label for=''>Name</label>
  <input type='text' name='name'>
  <br>
  <label for=''>Ingredients</label>
  <input type='text' name='ingredients'>
  <br>
  <a href="/search-drinks"><button>FIND</button></a>
</form>
<br>