<div class='index-container'>
  <div>
    <img src="../images/logo.png" alt="" srcset="" id="main-logo">
  </div>
  <div class='menu-items'>
    <a href="/search-drinks"><button>FIND YOUR DRINK</button></a>
    <a href="/random-drink"><button>GET RANDOM DRINK</button></a>
    <a href="/add-drink"><button>ADD NEW DRINK</button></a>
    <a href="/drinks"><button>SEE ALL DRINKS</button></a>
  </div>
</div>