<div class='index-container'>
  <div class="search-btn">
    <div>
      <a href="/search-drinks"><button>FIND YOUR DRINK</button></a>
    </div>
  </div>
  <div class='top'>
    <div>
      <a href="/drinks"><button>SEE ALL DRINKS</button></a>
    </div>
    <div>
      <a href="/random-drink"><button>GET RANDOM DRINK</button></a>
    </div>
  </div>

  <div class='bot'>
    <div>
      <a href="/add-drink"><button>ADD NEW DRINK</button></a>
    </div>
    <div>
      <a href="/my-profile"><button>MY PROFILE</button></a>
    </div>

  </div>
</div>