<div>
  <nav>
    <a href="/my-profile">PROFILE</a>
  </nav>
  <br>
  <div>
    <a href="/search-drinks"><button>FIND YOUR DRINK</button></a>
    <br>
    <a href="/random-drink"><button>GET RANDOM DRINK</button></a>
    <br>
    <a href="/favourites"><button>YOUR FAVORITES</button></a>
    <br>
    <a href="/add-drink"><button>ADD NEW DRINK</button></a>
    <br>
    <a href="/drinks"><button>SEE ALL DRINKS</button></a>
  </div>
</div>