<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cocktail Me</title>
  <script src="https://use.fontawesome.com/b3524b852b.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />

</head>

<div class='bg-img'>
  <div class="layer">
    <header>
      <nav>

        <div>
          <ul class='nav-container'>

            <div class='logo-container'>
              <a href="/"><img class="logo-home" src="../images/logo.png" alt="logo"></a>
            </div>
            <div>
              <a href="/search-drinks" class="cards">
                <li class='nav-items'>Find</li>
              </a>
              <a href="/my-profile" class="cards">
                <li class='nav-items'>Profile</li>
              </a>
              <a href="/random-drink" class="cards">
                <li class='nav-items'>Random Drink</li>
              </a>
              <a href="/add-drink" class="cards">
                <li class='nav-items'>Add Drink</li>
              </a>
              <a href="/drinks" class="cards">
                <li class='nav-items'>All drinks</li>
              </a>
            </div>

          </ul>
        </div>
      </nav>
    </header>


    <body>
      {{{body}}}
      <script>
        if (window.location.pathname === '/') {
          const nav = document.querySelector('nav');
          nav.style.display = "none";
        }

      </script>
      <script src="/javascripts/script.js"></script>
    </body>
  </div>




</html>