<div class="drink-section indention-prof">
  <h1 class="drink-title">My Profile</h1>
  <h3>User name</h3>
  <p>{{user.username}}</p>
  <h3>Email</h3>
  <p>{{user.email}}</p>
  <br>
  <div class="drink-buttons space-top">
    <a href="/logout">LOGOUT</a>
    <a href="/delete-account">DELETE ACCOUNT</a>
  </div>
</div>
