<h1>ADD NEW DRINK</h1>
<form action="/add-drink" method="post">
  <input type="text" name="name" placeholder="Drink name">
  <br>
  <input type="text" name="glass" placeholder="Type of glass">
  <br>
  <input type="text" name="category" placeholder="Category">
  <br>
  <input type="text" name="ingredient" placeholder="Ingredient name">
  <br>
  <input type="number" name="amount" placeholder="Amount">
  <br>
  <input type="text" name="unit" placeholder="Unit">
  <br>
  <input type="text" name="garnish" placeholder="Garnish">
  <br>
  <input type="text" name="preparation" placeholder="Preparation">
  <br>
  <label><input type="checkbox" name="alcohol" checked="true" value="">Alcohol</label>
</form>
