<h1>FIND YOUR DRINK</h1>
<p>Select your ingredients:</p>
{{#each ingredients}}
  <label><input type="checkbox" name="ingredient">{{this.name}}</label>
{{/each}}
<br>
<a href="/"><button>FIND</button></a>
<br>
<a href="/"><button>HOME</button></a>
