<div>
  <nav>
    <a href="#">PROFILE</a>
  </nav>
  <br>
  <div>
    <a href="#"><button>FIND YOUR DRINK</button></a>
    <br>
    <a href="#"><button>GET RANDOM DRINK</button></a>
    <br>
    <a href="#"><button>YOUR FAVORITES</button></a>
    <br>
    <a href="#"><button>ADD NEW DRINK</button></a>
  </div>
</div>
