<form action="/signup" method="post">
  <input type="text" name="username" placeholder="Username">
  <br>
  <input type="email" name="email" placeholder="Email">
  <br>
  <input type="password" name="password" placeholder="Password">
  <br>
  <input type="password" name="repeatedPassword" placeholder="Repeat password">
  <br>
  <label><input type="checkbox" name="terms" value="terms">Accept the terms and conditions.</label>
  <br>
  <label><input type="checkbox" name="news" value="news">Subscribe to our newsletter!</label>
  <br>
  <button>SIGNUP</button>
</form>

{{#if messageError}}
<p>{{messageError}}</p>
{{/if}}
